<br>
<br>
<div class="container">
  <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8">
        <div class="row justify-content-center mb-3">
          <div class="card mb-4">
            <div class="card-body">
                <div class="h2 mt-3">Édite ton budget</div>
                  <div class="info-log">
                    <%= simple_form_for [@budget] do |f| %>
                      <%= f.input :name, placeholder: "Quel est le nom du budget?", label: "Nom du budget" %>

                      <div>
                        <%= f.input :participants, collection: @participants, as: :hidden, checked: "", legend_tag: true, as: :check_boxes, label: "Qui participe ?", input_html: { "data-controller" => "formedit", "data-formedit-target" => "checkbox", "data-action" => "click->formedit#checker" } %>

                        <div class="center" data-form-target="button">
                            <%= f.button :submit, "C'est bon !", class:"btn-primary" %>
                        </div>
                      </div>

                    <% end %>
                  </div>
                </div>
            </div>
            <%=link_to " < retour", root_path %>
          </div>
        </div>
      </div>
  </div>
</div>
