<div class="container">

    <div class="display-flex-2 mt-4">
      <%= link_to "<", root_path, class: "retour"%>
      <h2 class="text-center" style="margin: 10px auto;"><strong><%=@budget.name%></strong></h2>
    </div>

    <br>
    <div class="display-flex">
      <div>
        <%= link_to "Ajouter un payment", new_budget_payment_path(@budget.id), class: "btn-perso-1" %>
      </div>
      <div>
        <%= link_to "Réinitialiser", reinit_path(@budget.id), class: "btn-perso-1", data: { confirm: 'Es-tu sûr(e)?' } %>
      </div>
    </div>
    <br>
    <div style="position: relative; top: 5px;">
      <strong> Total spent: </strong><%=@budget.total_cents%> €
    </div>
    <br>

    <strong>Balance: </strong>
    <%= @budget.debt_status(current_user) %>

    <br>
    <strong>In this budget with you:</strong>
    <%= @budget.other_participant(current_user)[0].capitalize %>

    <br>
    <br>

    <% if @budget.payments.length > 0 %>
      Payments in this budget :
      <ul>

      <% @budget.payments.sort_by { |p| p.updated_at }.reverse!.each do |payment| %>

        <%= content_tag :div, id: payment.id do %>

          <div class="card-payment pt-4">

            <div class="display-flex">
              <div>
                <li><%= payment.sender_name(current_user) %> paid <%=payment.montant_cents %>€ for :</li>
                <%= payment.receiver_name(current_user) %>
              </div>
              <li> <%= link_to "Modifier", edit_budget_payment_path(@budget, payment_id: payment.id), class: "btn-perso-1 me-4"%> </li>
            </div>

            <br>

            <div class="display-flex">
              <div>
                <li>"<%=payment.commentaire%>"</li>
                <li style="opacity: 0.6; padding-bottom: 5px"><small><%=payment.created_at.strftime("%d %B %Y à %H:%M")%></small></li>
              </div>
              <div>
                <li>  <%= link_to "Effacer", budget_payment_path(@budget, payment_id: payment.id), class: "btn-perso-1 me-4", method: :delete, data: { confirm: 'Es-tu sûr(e)?' } %> </li>
              </div>
            </div>

          </div>

        <% end %>

      <% end %>



      </ul>
    <% else %>
      No payment yet 😊
    <% end %>
    <script>
      var urlParams = new URLSearchParams(window.location.search);
      var id = urlParams.get('payment_id')

      var selectedPayment = document.getElementById(id)
      if (selectedPayment !== null ) {
        selectedPayment.style = "background-color: green !important"
      }
    </script>
</div>
