<% if @budget.contains_user?(current_user) %>

  <div class="">

    <div class="show-headers-container">
      <div class="display-flex-2 first-headers-part">
        <%= link_to "<", root_path, class: "retour"%>
        <h2 class="text-center" style="margin: 10px auto;"><strong><%=@budget.name%></strong></h2>
      </div>

      <br>
      <div class="display-flex">
        <div>
          <%= link_to "Ajouter un payment", new_budget_payment_path(@budget.id), class: "btn-perso-1" %>
        </div>
        <div>
          <%= link_to "Réinitialiser", reinit_path(@budget.id), class: "btn-perso-1", data: { confirm: 'Es-tu sûr(e)?' } %>
        </div>
      </div>
      <br>
      <div style="position: relative; top: 5px;">
        <strong> Total spent: </strong><%=@budget.total_cents%> €
      </div>
      <br>

      <strong>Balance: </strong>
      <%= @budget.debt_status(current_user) %>

      <br>
      <strong>In this budget with you:</strong>
      <%= @budget.other_participant(current_user)[0].capitalize %>
    </div>


    <% if @budget.payments.length > 0 %>
      Payments in this budget :

      <%# ------------ OLD VERSION OF PAYMENTS ------------ %>
      <% if false %>
        <% @budget.payments.sort_by { |p| p.updated_at }.reverse!.each do |payment| %>
          <%= content_tag :div, id: payment.id do %>

            <div class="card-payment pt-4">
              <div class="display-flex">
                <div>
                  <li><%= payment.sender_name(current_user) %> paid <%=payment.montant_cents %>€ for :</li>
                  <%= payment.receiver_name(current_user) %>
                </div>
                <li> <%= link_to "Modifier", edit_budget_payment_path(@budget, payment_id: payment.id), class: "btn-perso-1 me-4"%> </li>
              </div>

              <br>

              <div class="display-flex">
                <div>
                  <li>"<%=payment.commentaire%>"</li>
                  <li style="opacity: 0.6; padding-bottom: 5px"><small><%=payment.created_at.strftime("%d %B %Y à %H:%M")%></small></li>
                </div>
                <div>
                  <li>  <%= link_to "Effacer", budget_payment_path(@budget, payment_id: payment.id), class: "btn-perso-1 me-4", method: :delete, data: { confirm: 'Es-tu sûr(e)?' } %> </li>
                </div>
              </div>
            </div>

          <% end %>
        <% end %>
      <% end %>
      <%# ------------ OLD VERSION OF PAYMENTS ------------ %>

      <% if current_user %>
        <div class="hundred-payments-container">

          <div class="list-title">All Payments</div>
          <% @budget.payments.sort_by { |p| p.updated_at }.reverse!.each do |payment| %>
            <%= content_tag :div, id: payment.id, class: "show-payment-container" do %>
              <div class="show-list-container">
                <div class="show-list-left-section">
                  <%= link_to budget_path(payment.budget, payment_id: payment.id, anchor: payment.id) do %>
                    <div class="home-list-payment make-link-fonts-white">

                      <div class="list-left-section">
                        <div class="list-picture">
                        </div>
                        <div class="payer-receiver">
                          <p id="list-sender"><%= payment.sender_name(current_user) %></p>
                          <p id="list-receiver"> for <%= payment.receiver_name(current_user) %> </p>
                        </div>
                      </div>

                      <div class="list-right-section">
                          <p id="list-amount">€<%= payment.montant_cents %></p>
                          <p id="list-comment"> <%= payment.small_comment %></p>
                      </div>

                    </div>
                  <% end %>
                  <div class="date"><%=payment.created_at.strftime("%d %B %Y à %H:%M")%></div>
                </div>

                <div class="show-list-right-section">
                  <div class="show-edit-button-container">
                    <%= link_to "Edit", edit_budget_payment_path(@budget, payment_id: payment.id), class: "show-edit-button"%>
                    <%= link_to budget_payment_path(@budget, payment_id: payment.id), class: "show-delete-button", method: :delete, data: { confirm: 'Es-tu sûr(e)?' } do %>
                      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="94.926px" height="94.926px" viewBox="0 0 94.926 94.926" style="enable-background:new 0 0 94.926 94.926;" xml:space="preserve">
                        <g>
                        <path d="M55.931,47.463L94.306,9.09c0.826-0.827,0.826-2.167,0-2.994L88.833,0.62C88.436,0.224,87.896,0,87.335,0   c-0.562,0-1.101,0.224-1.498,0.62L47.463,38.994L9.089,0.62c-0.795-0.795-2.202-0.794-2.995,0L0.622,6.096   c-0.827,0.827-0.827,2.167,0,2.994l38.374,38.373L0.622,85.836c-0.827,0.827-0.827,2.167,0,2.994l5.473,5.476   c0.397,0.396,0.936,0.62,1.498,0.62s1.1-0.224,1.497-0.62l38.374-38.374l38.374,38.374c0.397,0.396,0.937,0.62,1.498,0.62   s1.101-0.224,1.498-0.62l5.473-5.476c0.826-0.827,0.826-2.167,0-2.994L55.931,47.463z"/>
                        </g>
                        <g>
                        </g>
                      </svg>
                    <% end %>
                  </div>
                </div>
              </div>

            <% end %>
          <% end %>

        </div>
      <% end %>

    <% else %>
      No payment yet 😊
    <% end %>
    <script>
      var urlParams = new URLSearchParams(window.location.search);
      var id = urlParams.get('payment_id')

      var selectedPayment = document.getElementById(id)
      if (selectedPayment !== null ) {

        // selectedPayment.classList.add("selected-baby")
        selectedPayment.childNodes[1].childNodes[1].childNodes[1].children[0].classList.add("selected-baby")
      }
    </script>
  </div>

<%# ------------- USER NO ACCESS ------------- %>
<% else %>
  <div class="no-access-message-container">
    <h4 class="text-center"> Ooops ! You don't have access to this budget !</h4>
    <%= link_to "Go Back", :back, style: "position: relative; top: 20px; text-align: center", class:"devise-back-link text-center"%>
  </div>
<% end %>
