<% if @budget.contains_user?(current_user) %>

  <div class="">

    <div class="display-flex-2 mt-4">
      <%= link_to "<", root_path, class: "retour"%>
      <h2 class="text-center" style="margin: 10px auto;"><strong><%=@budget.name%></strong></h2>
    </div>

    <br>
    <div class="display-flex">
      <div>
        <%= link_to "Ajouter un payment", new_budget_payment_path(@budget.id), class: "btn-perso-1" %>
      </div>
      <div>
        <%= link_to "Réinitialiser", reinit_path(@budget.id), class: "btn-perso-1", data: { confirm: 'Es-tu sûr(e)?' } %>
      </div>
    </div>
    <br>
    <div style="position: relative; top: 5px;">
      <strong> Total spent: </strong><%=@budget.total_cents%> €
    </div>
    <br>

    <strong>Balance: </strong>
    <%= @budget.debt_status(current_user) %>

    <br>
    <strong>In this budget with you:</strong>
    <%= @budget.other_participant(current_user)[0].capitalize %>

    <br>
    <br>

    <% if @budget.payments.length > 0 %>
      Payments in this budget :

      <%# ------------ OLD VERSION OF PAYMENTS ------------ %>
      <% if false %>
        <% @budget.payments.sort_by { |p| p.updated_at }.reverse!.each do |payment| %>
          <%= content_tag :div, id: payment.id do %>

            <div class="card-payment pt-4">
              <div class="display-flex">
                <div>
                  <li><%= payment.sender_name(current_user) %> paid <%=payment.montant_cents %>€ for :</li>
                  <%= payment.receiver_name(current_user) %>
                </div>
                <li> <%= link_to "Modifier", edit_budget_payment_path(@budget, payment_id: payment.id), class: "btn-perso-1 me-4"%> </li>
              </div>

              <br>

              <div class="display-flex">
                <div>
                  <li>"<%=payment.commentaire%>"</li>
                  <li style="opacity: 0.6; padding-bottom: 5px"><small><%=payment.created_at.strftime("%d %B %Y à %H:%M")%></small></li>
                </div>
                <div>
                  <li>  <%= link_to "Effacer", budget_payment_path(@budget, payment_id: payment.id), class: "btn-perso-1 me-4", method: :delete, data: { confirm: 'Es-tu sûr(e)?' } %> </li>
                </div>
              </div>
            </div>

          <% end %>
        <% end %>
      <% end %>
      <%# ------------ OLD VERSION OF PAYMENTS ------------ %>

      <% if current_user %>
        <div class="hundred-payments-container">

          <div class="list-title">All Payments</div>
          <% @budget.payments.sort_by { |p| p.updated_at }.reverse!.each do |payment| %>
            <%= content_tag :div, id: payment.id, class: "show-payment-container" do %>
              <div class="show-list-container">
                <div class="show-list-left-section">
                  <%= link_to budget_path(payment.budget, payment_id: payment.id, anchor: payment.id) do %>
                    <div class="home-list-payment make-link-fonts-white">

                      <div class="list-left-section">
                        <div class="list-picture">
                        </div>
                        <div class="payer-receiver">
                          <p id="list-sender"><%= payment.sender_name(current_user) %></p>
                          <p id="list-receiver"> for <%= payment.receiver_name(current_user) %> </p>
                        </div>
                      </div>

                      <div class="list-right-section">
                          <p id="list-amount">€<%= payment.montant_cents %></p>
                          <p id="list-comment"> <%= payment.small_comment %></p>
                      </div>

                    </div>
                  <% end %>
                  <div class="date"><%=payment.created_at.strftime("%d %B %Y à %H:%M")%></div>
                </div>

                <div class="show-list-right-section">
                  <div class="show-edit-button-container">
                    <%= link_to "Edit", edit_budget_payment_path(@budget, payment_id: payment.id), class: "show-edit-button"%>
                    <%= link_to "Delete", budget_payment_path(@budget, payment_id: payment.id), class: "show-delete-button", method: :delete, data: { confirm: 'Es-tu sûr(e)?' } %>
                  </div>
                </div>
              </div>

            <% end %>
          <% end %>

        </div>
      <% end %>

    <% else %>
      No payment yet 😊
    <% end %>
    <script>
      var urlParams = new URLSearchParams(window.location.search);
      var id = urlParams.get('payment_id')

      var selectedPayment = document.getElementById(id)
      if (selectedPayment !== null ) {
        selectedPayment.style = "background-color: green !important"
      }
    </script>
  </div>

<%# ------------- USER NO ACCESS ------------- %>
<% else %>
  <div class="no-access-message-container">
    <h4 class="text-center"> Ooops ! You don't have access to this budget !</h4>
    <%= link_to "Go Back", :back, style: "position: relative; top: 20px; text-align: center", class:"devise-back-link text-center"%>
  </div>
<% end %>
