<div class="home-container">
  <div class="home-left-right-container">

    <div class="home-left-container">
      <% if current_user %>
        <h3 class="home-card-title">Welcome <%=current_user.name %> </h3>
      <% else %>
        <h3>Welcome on TORN !</h3>
      <% end %>
    </div>


    <div class="home-right-container">
        <div class="right-section-titles">
          <h3 id="diff-budgets">Tes differents budgets</h3>
          <%= link_to "Create New Budget", new_budget_path, class:"create-budget-button" %>
        </div>

        <% if @budgets.length == 0 %>
        <h6> Pas encore de budget !</h6>
        <% else %>
          <ul style="flex-grow: 2; display: flex">
            <div class="home-cards-container">
              <% @budgets.sort_by { |p| p.updated_at }.reverse!.each do |budget| %>
                <% budget_ids = [] %>
                <% budget.users.each do |u|%>
                  <% budget_ids << u.id %>
                <% end %>
                <% if current_user.nil? == false && budget_ids.include?(current_user.id) %>

                  <%= link_to(budget) do %>




                    <div class="home-card">
                      <h4 class="text-center"><strong><%=budget.name %></strong> </h4>
                      <br>
                      <li><strong>Dépenses totales </strong> <%=budget.total_cents %>€</li>

                      <% @persons = [] %>
                      <%UserBudget.where(budget_id: budget.id).each do |n| %>
                        <% @persons << {name: n.user.name, dette: n.dette} %>
                      <% end %>

                      <% if @persons[1].nil? == false %>
                        <% if @persons[0][:dette] > @persons[1][:dette]%>
                          <%=@persons[1][:name]%> doit <%= (@persons[0][:dette]) - (@persons[1][:dette]) %>€ à <%=@persons[0][:name]%>
                        <% elsif @persons[0][:dette] < @persons[1][:dette]%>
                          <%=@persons[0][:name]%> doit <%= (@persons[1][:dette]) - (@persons[0][:dette]) %>€ à <%=@persons[1][:name]%>
                        <% else %>
                        Vous ne vous devez rien !
                        <% end %>
                      <% end %>

                      <br>
                      <li><span><strong>Participants </strong>

                      <br>
                      <% budget.user_budgets.each do |n| %>
                        <%=n.user.name %></span></li>
                      <% end %>

                      <%#link_to "modifier", edit_budget_path(budget), class:"modif" %>
                      <%=link_to "Edit", edit_budget_path(budget) %>
                      <%=link_to "Delete", budget_path(budget), method: :delete, data: { confirm: 'Are you sûr(e)?' } %>
                    </div>



                    <div class="home-card">
                      <div class="content">
                        <div class="contentBx">
                          <h3 class="home-card-title"><%= budget.name %></h3>
                        </div>
                      </div>
                      <ul class="sci">
                        <li>
                          <p>
                            <div class="hidden-card-title-container">
                              <p class="hidden-card-title"><%= budget.name %></p>
                            </div>
                          </p>
                        </li>
                        <li>
                          <p>
                            <div class="hidden-display-flex">
                              <div class="hidden-flex-item">
                                <div>
                                  Total spent
                                </div>
                                <div style="font-size: 30px !important;">
                                  <%=budget.total_cents %>€
                                </div>
                              </div>

                              <div class="hidden-flex-item-2">
                                <div>
                                  Balance
                                </div>
                                <div style="font-size: 15px !important;">
                                  <%= budget.get_debt_status %>
                                </div>
                              </div>
                            </div>
                          </p>
                        </li>
                        <li>
                          <p>
                            <div class="hidden-card-buttons-container">

                              <%=link_to edit_budget_path(budget) do %>
                                <div class="hidden-card-button">
                                  Edit
                                </div>
                              <% end %>

                              <%=link_to budget_path(budget), method: :delete, data: { confirm: 'Are you sûr(e)?' } do %>
                                <div class="hidden-card-button-2">
                                  Delete
                                </div>
                              <% end %>

                            </div>
                          </p>
                        </li>

                      </ul>
                      <div class="anim-background"></div>
                    </div>

                  <% end %>
                <% else %>
                <% end %>
              <% end %>
            </div>
          </ul>
        <% end %>


    </div>
  </div>
</div>
