<div class="container">
<br>
<br>

  <div class="p-4">

      <% if current_user.nil? == false %>
      <h2 class="centre" style="font-weight: bold">Bienvenue <%=current_user.name %> !</h2>
      <% else %>
      <h1>Bienvenue sur JTEDOIS !</h1>
      <% end %>

      <br>

      <div class="flex-box-between">
        <h2 id="diff-budgets">Tes differents budgets :</h2>
        <div id="button-home">
        <%= link_to "creer un nouveau budget", new_budget_path, class: "btn-perso-1" %>
        </div>

      </div>

      <% if @budgets.length == 0 %>
      <h6> Pas encore de budget !</h6>
      <% else %>
        <ul class="flex-box">
          <% @budgets.sort_by { |p| p.updated_at }.reverse!.each do |budget| %>
            <% budget_ids = [] %>
            <% budget.users.each do |u|%>
              <% budget_ids << u.id %>
            <% end %>
            <% if current_user.nil? == false && budget_ids.include?(current_user.id) %>

              <%= link_to(budget) do %>
                <div class="card pt-4 flex-child">
                  <li><strong>Nom: </strong> <%=budget.name %></li>
                  <li><strong>Total dépensé: </strong> <%=budget.total_cents %>€</li>

                  <% @persons = [] %>
                  <strong>Balance: </strong><%UserBudget.where(budget_id: budget.id).each do |n| %>
                    <% @persons << {name: n.user.name, dette: n.dette} %>
                  <% end %>

                  <% if @persons[1].nil? == false %>
                    <% if @persons[0][:dette] > @persons[1][:dette]%>
                      <%=@persons[1][:name]%> doit <%= (@persons[0][:dette]) - (@persons[1][:dette]) %>€ à <%=@persons[0][:name]%>
                    <% elsif @persons[0][:dette] < @persons[1][:dette]%>
                      <%=@persons[0][:name]%> doit <%= (@persons[1][:dette]) - (@persons[0][:dette]) %>€ à <%=@persons[1][:name]%>
                    <% else %>
                    Vous ne vous devez rien !
                    <% end %>
                  <% end %>


                  <br>
                  <li><span><strong>Users: </strong>
                  <br>
                  <% budget.user_budgets.each do |n| %>
                    <%=n.user.name %></span></li>
                  <% end %>
                  <br>
                  <br>
                  <%# <% raise %>
                </div>
              <% end %>
            <% else %>
            <% end %>
          <% end %>
        </ul>
      <% end %>

  </div>


</div>
